// This file contains all application-wide Sass mixins.
@mixin flex ($justify: space-between, $aligh-item: center){
  display: flex;
  justify-content: $justify;
  align-items: $aligh-item;
}

@mixin slider-transition ($property: margin, $duration: 0.5s, $function: ease){
  transition: $property $duration $function;
}


