.background-stories {
  background-image: url("/assets/img/background-stories-min.png");
  //background-size: 100%;
  background-repeat: no-repeat;
  background-size:  100% 1331px;
  background-position-y: 53px+40px;
}